body{
	margin:0;
	padding:0;
	background-image: url('https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?auto=compress&cs=tinysrgb&w=600')
	 ;
 	background-size: cover;
 	
}
.form{
	position: absolute;
	top: 40%;
	left:40%;
	color:white;
}
