<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" th:href="@{/CSS/style1.css}">
</head>
<body>

<div class="form">
<form action="validate" method="post">
<label> Email : </label>
<input type="email" placeholder= "Enter registered email" name="email">
<br>
<br>
<label> Password : </label>
<input type ="password"  placeholder="Enter Password" name="password">
<br>
<br>
<input class="input" type="submit" value="Login">
</form>
</div>
</body>
</html>